body{ background-color: darkseagreen;
    color: saddlebrown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    vertical-align: top;
    }
   
    a:hover{
    text-decoration: underline;
    color: gold;
    }
    
    select{
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    }
    p{
      color: rgb(0, 106, 255); 
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
    }
    h1{
        color: blueviolet;
    }
    /* option{
    padding: 1em;
    margin: 1em;
    } */
    